You have to work on the [Dogs adoptions](https://drive.google.com/file/d/1wQsA0oB6wwYlnkvvcyBCmLk7QmgVWNax/view?usp=sharing) dataset. 

It contains three files:
*  `dogs.csv`, shortly *dogs*
*  `dogTravel.csv`, shortly *travels*
*  `NST-EST2021-POP.csv`

### Notes

1.    It is mandatory to use GitHub for developing the project.
1.    The project must be a jupyter notebook.
1.    There is no restriction on the libraries that can be used, nor on the Python version.
1.    All questions on the project **must** be asked in a public channel on [Zulip](https://focs.zulipchat.com).
1.    At most 3 students can be in each group. You must create the groups by yourself.
1.    You do not have to send me the project *before* the discussion.

### 0.1 Import csv file

In [7]:
import pandas as pd
from IPython.display import display
# from itables import init_notebook_mode
# init_notebook_mode(all_interactive=True)

In [8]:
with open("dogs.csv", "r") as dogfile:
    header_if_any = dogfile.readline()
    print(header_if_any)

id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,color_secondary,color_tertiary,age,sex,size,coat,fixed,house_trained,declawed,special_needs,shots_current,env_children,env_dogs,env_cats,name,status,posted,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost

In [17]:
tmp_dogs = pd.read_csv("dogs.csv", sep=',', doublequote='"', low_memory=False)
tmp_dogs.head()

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter ...,70,124.81
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,6 year old Biggie has lost his home and really...,49,122.07
2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,Brindle,...,Mesquite,NV,89027,US,89009,2019-09-20,Dog,Approx 2 years old.\n Did I catch your eye? I ...,87,281.51
3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,Pahrump,NV,89048,US,89009,2019-09-20,Dog,NaN,62,145.83
4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,NaN,...,Henderson,NV,89052,US,89009,2019-09-20,Dog,Theo is a friendly dachshund mix who gets alon...,93,241.09

In [18]:
# makeup column names
dogs = tmp_dogs.copy()
dogs.columns = [col.lower().replace(".", "_") for col in tmp_dogs.columns]
dogs.columns

Index(['id', 'org_id', 'url', 'type_x', 'species', 'breed_primary',
       'breed_secondary', 'breed_mixed', 'breed_unknown', 'color_primary',
       'color_secondary', 'color_tertiary', 'age', 'sex', 'size', 'coat',
       'fixed', 'house_trained', 'declawed', 'special_needs', 'shots_current',
       'env_children', 'env_dogs', 'env_cats', 'name', 'status', 'posted',
       'contact_city', 'contact_state', 'contact_zip', 'contact_country',
       'stateq', 'accessed', 'type_y', 'description', 'stay_duration',
       'stay_cost'],
      dtype='object')

In [19]:
tmp_travels = pd.read_csv("dogTravel.csv", sep=',', doublequote='"', low_memory=False)
tmp_travels.head()

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Abacos,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Adam,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN

In [20]:
travels = tmp_travels.copy()

In [29]:
tmp_states = pd.read_csv("NST-EST2021-POP.csv", header=None, names=["state", "numbers"], sep=',', low_memory=False)
tmp_states.head()

        state     numbers
0     Alabama   5.024.279
1      Alaska     733.391
2     Arizona   7.151.502
3    Arkansas   3.011.524
4  California  39.538.223

In [32]:
states = tmp_states.copy()
states.numbers = states.numbers.str.replace('.', '').astype(int)
states.head()

C:\Users\TECHSON\AppData\Local\Temp\ipykernel_6216\3088612458.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  states.numbers = states.numbers.str.replace('.', '').astype(int)

        state   numbers
0     Alabama   5024279
1      Alaska    733391
2     Arizona   7151502
3    Arkansas   3011524
4  California  39538223

### 0.2 Profiling

In [35]:
print("dogs: ", dogs.shape)
dogs.info()

dogs:  (58180, 37)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58180 entries, 0 to 58179
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               58180 non-null  int64
 1   org_id           58180 non-null  object
 2   url              58180 non-null  object
 3   type_x           58180 non-null  object
 4   species          58180 non-null  object
 5   breed_primary    58180 non-null  object
 6   breed_secondary  20821 non-null  object
 7   breed_mixed      58180 non-null  bool
 8   breed_unknown    58180 non-null  bool
 9   color_primary    26134 non-null  object
 10  color_secondary  12059 non-null  object
 11  color_tertiary   1217 non-null   object
 12  age              58180 non-null  object
 13  sex              58180 non-null  object
 14  size             58180 non-null  object
 15  coat             27185 non-null  object
 16  fixed            58180 non-null  bool
 17  house_trained    58180 non-null  bool
 18  declawed         0 non-null      float64
 19  special_needs    58180 non-null  bool
 20  shots_current    58180 non-null  bool
 21  env_children     28027 non-null  object
 22  env_dogs         34669 non-null  object
 23  env_cats         19352 non-null  object
 24  name             58180 non-null  object
 25  status           58180 non-null  object
 26  posted           58180 non-null  object
 27  contact_city     58180 non-null  object
 28  contact_state    58180 non-null  object
 29  contact_zip      58168 non-null  object
 30  contact_country  58180 non-null  object
 31  stateq           58180 non-null  object
 32  accessed         58147 non-null  object
 33  type_y           57540 non-null  object
 34  description      49475 non-null  object
 35  stay_duration    58180 non-null  int64
 36  stay_cost        58180 non-null  float64
dtypes: bool(6), float64(2), int64(2), object(27)
memory usage: 14.1+ MB

In [36]:
print("travels: ", travels.shape)

travels.info()

travels:  (6194, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6194 entries, 0 to 6193
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          6194 non-null   int64
 1   id             6194 non-null   int64
 2   contact_city   6194 non-null   object
 3   contact_state  6194 non-null   object
 4   description    6194 non-null   object
 5   found          6194 non-null   object
 6   manual         2147 non-null   object
 7   remove         1738 non-null   object
 8   still_there    319 non-null    object
dtypes: int64(2), object(7)
memory usage: 435.6+ KB

In [41]:
print(states.shape)

states.info()

states.describe()

(51, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   state    51 non-null     object
 1   numbers  51 non-null     int32
dtypes: int32(1), object(1)
memory usage: 740.0+ bytes

            numbers
count  5.100000e+01
mean   6.499006e+06
std    7.408023e+06
min    5.768510e+05
25%    1.816411e+06
50%    4.505836e+06
75%    7.428392e+06
max    3.953822e+07

### 1. Extract all dogs with status that is not *adoptable*

### 2. For each (primary) breed, determine the number of dogs

### 3. For each (primary) breed, determine the ratio between the number of dogs of `Mixed Breed` and those not of Mixed Breed. Hint: look at the `secondary_breed`.

### 4. For each (primary) breed, determine the earliest and the latest `posted` timestamp.

### 5. For each state, compute the sex imbalance, that is the difference between male and female dogs. In which state this imbalance is largest?

### 6. For each pair (age, size), determine the average duration of the stay and the average cost of stay.

### 7. Find the dogs involved in at least 3 travels. Also list the breed of those dogs.

### 8. Fix the `travels` table so that the correct state is computed from  the `manual` and the `found` fields. If `found` is not missing, then it overrides what is stored in `found`.

### 9. For each state, compute the ratio between the number of travels and the population.

### 10. For each dog, compute the number of days from the `posted` day to the day of last access.

### 11. Partition the dogs according to the number of weeks from the `posted` day to the day of last access.

### 12. Find for duplicates in the `dogs` dataset. Two records are duplicates if they have (1) same breeds and sex, and (2) they share at least 90% of the words in the description field. Extra points if you find and implement a more refined for determining if two rows are duplicates.