# Null values

In [1]:
import pandas as pd
import numpy as np

We will work on the `orders` and `order_details` dataframes.

In [2]:
orders = pd.read_csv("https://github.com/gdv/foundationsCS/raw/main/students/ex-data/Northwind/Orders.csv", 
                     parse_dates=['OrderDate'],
                     date_format = '%Y-%m-%d-%H-%M-%S'
)

In [3]:
pd.to_datetime(orders['OrderDate'], format='mixed')

0       2012-07-04 00:00:00
1       2012-07-05 00:00:00
2       2012-07-08 00:00:00
3       2012-07-08 00:00:00
4       2012-07-09 00:00:00
                ...
16813   2013-06-29 21:05:55
16814   2014-01-19 12:27:11
16815   2014-10-15 09:51:09
16816   2013-02-07 02:06:05
16817   2013-08-31 02:59:28
Name: OrderDate, Length: 16818, dtype: datetime64[ns]

In [4]:
orders['OrderDate'] = pd.to_datetime(orders['OrderDate'], format='mixed')

In [6]:
details = pd.read_csv("https://github.com/gdv/foundationsCS/raw/main/students/ex-data/Northwind/OrderDetails.csv")

### Null values in Python

### Looking for null values

The `ShipPostalCode` column of `orders` contains some missing values.

### Extract the row with a missing `ShipPostalCode`

It's a boolean mask, so we can use it to select the rows.

### How many rows have a missing `ShipPostalCode`?

But that's a bit of a trick, since it exploits the numerical values associated to booleans. A cleaner way is the following.

Or we can exploit that a dataframe is also a list of rows.

### Extract the rows that do not have a missing `ShipPostalCode`

### Remove all rows with a missing value

`dropna` has an argument `how` that allows to remove the rows with at least a missing value or without missing values.

## Datetime values

We convert datetime-like values to actual datetime values with the `.dt` converter. For this reason, we have read the `OrderDate` column with the `parse_dates` argument of `read_csv`.

There are several variables that can be extracted from a datetime Series.

## Join tables

The pandas equivalent to a join is a `merge`.

Join the `orders` and `details` dataframes, exploiting the `Id` column of `orders` and `OrderId` of `details`.

If the columns used to link the dataframes have the same name in both, we can use the `on` argument.

Notice that `Id` in `details` is not the one we have used.

What if both dataframes have `Id` as the index?


Now we want to merge those dataframes.

We can compute an outer join too.