In [1]:
import pandas as pd

In [2]:
snl = pd.read_csv('https://github.com/gdv/foundationsCS/raw/main/students/ex-data/snldb/snl_title.csv')
snl.head()

,sid,eid,tid,title,titleType
0,3,20,1978052013,"""Space is the Place"", ""Space-Loneliness""",Musical Performance
1,2,21,1977051416,NaN,Goodnights
2,3,18,1978042215,NaN,Goodnights
3,3,20,1978052014,NaN,Goodnights
4,3,18,1978042214,Next Week In Review,Show

In [3]:
episodes = pd.read_csv('https://github.com/gdv/foundationsCS/raw/main/students/ex-data/snldb/snl_episode.csv', parse_dates=["aired"])
episodes.head()

   sid  eid  year      aired
0    3   20  1977 1978-05-20
1    3   19  1977 1978-05-13
2    3   18  1977 1978-04-22
3    2   21  1976 1977-05-14
4    2   22  1976 1977-05-21

In [5]:
seasons = pd.read_csv('https://github.com/gdv/foundationsCS/raw/main/students/ex-data/snldb/snl_season.csv')
seasons.head()

   sid  year
0    1  1975
1    2  1976
2    3  1977
3    4  1978
4    5  1979

## Compute the sketches of the season with year 1978

The condition for selecting the rows is a single equality

## Compute the sketches of the seasons with year 1978-1982

In this case the condition of the selection is more complex and requires the conjuction of two different conditions.
The precedence order betweeen operators implies that we have to use the parenthesis.

## Compute the sketches aired in 1978 (consider the table snl_episode.csv)

First we merge the episodes with the snl dataframe, so that we have the air date of each sketch.

Then we extract only the relevant sketches

We add a new column for the year

Then we extract only the relevant sketches

## For each season, compute the average number of top 1000 voters

In [12]:
ratings = pd.read_csv('https://github.com/gdv/foundationsCS/raw/main/students/ex-data/snldb/snl_rating.csv')
ratings.head()

,sid,eid,1,10,2,3,4,5,6,7,...,Males Aged 45+_avg,Males under 18,Males under 18_avg,Males_avg,Non-US users,Non-US users_avg,Top 1000 voters,Top 1000 voters_avg,US users,US users_avg
0,7,1,0,3,0,0,5,2,10,4,...,7.2,0,NaN,7.1,6,6.4,10,6.4,22,6.8
1,10,1,2,4,0,2,0,4,5,1,...,7.3,0,NaN,6.1,7,5.4,7,6.4,13,6.6
2,6,13,0,3,0,0,1,0,2,9,...,7.8,0,NaN,7.9,5,7.7,9,7.4,17,7.7
3,2,1,0,8,0,2,1,7,8,15,...,7.1,0,NaN,7.2,12,7.4,15,6.7,33,6.9
4,3,20,0,6,0,2,1,3,4,13,...,6.9,0,NaN,7.1,7,7.3,14,7.3,21,6.8

##  For each season, compute the difference between the maximum and the minimum of `US users_avg`

First we extract the max and min rating for each season. Since we will merge the resulting tables by using the `sid` column, the `merge` is simpler if both dataframes retain the `sid` column (that is, it does not become part of the index).