# Concatenate dataframe

In [1]:
import pandas as pd
import numpy as np

We will work on the `orders` dataframe.

In [2]:
orders = pd.read_csv("https://github.com/gdv/foundationsCS/raw/master/students/ex-data/Northwind/Orders.csv", parse_dates = ['OrderDate'])

We split the `orders` dataframe into old and new orders.

In [3]:
old = orders[orders['OrderDate'].dt.year <= 2012]
new = orders[orders['OrderDate'].dt.year > 2012]

We can concatenate only dataframe with the same *structure.

In [4]:
pd.concat([old, new])

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04 00:00:00,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05 00:00:00,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08 00:00:00,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08 00:00:00,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09 00:00:00,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16813,27061,FOLKO,5,2013-06-29 21:05:55,2013-08-02 04:10:53,2013-07-02 16:05:51,3,307.25,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,South America,05442-030,Brazil
16814,27062,FRANK,2,2014-01-19 12:27:11,2014-01-24 15:15:31,2014-01-27 02:14:31,2,550.50,Bon app',"12, rue des Bouchers",Marseille,Western Europe,13008,France
16815,27063,ALFKI,5,2014-10-15 09:51:09,2014-11-11 14:31:37,2014-10-16 06:26:55,1,328.50,Furia Bacalhau e Frutos do Mar,Jardim das rosas n. 32,Lisboa,Southern Europe,1675,Portugal
16816,27064,TRADH,8,2013-02-07 02:06:05,2013-03-14 09:43:16,2013-02-24 10:15:47,3,357.00,Wilman Kala,Keskuskatu 45,Helsinki,Scandinavia,21240,Finland
16817,27065,ANATR,1,2013-08-31 02:59:28,2013-09-15 23:11:49,2013-09-03 14:09:08,3,233.75,LINO-Delicateses,Ave. 5 de Mayo Porlamar,I. de Margarita,South America,4980,Venezuela

## List comprehension

It is a manipulation of lists.

In [5]:
longlist = [1, 4, 5, 6, 2, 3, 1, 6, 2, 9, 12, 4]

Extract the elements of longlist that are smaller than 5.

In [6]:
[i for i in longlist if i < 5]

[1, 4, 2, 3, 1, 2, 4]

Extract the elements of longlist that are smaller than 5, moreover those elements must be multiplied by 3.

In [7]:
[i * 3 for i in longlist if i < 5]

[3, 12, 6, 9, 3, 6, 12]

Compute all natural squares that are smaller than 1000

import math
[n * n for n in range(int(math.sqrt(1000)))]

In [8]:
[i for i in longlist if i < 5]

[1, 4, 2, 3, 1, 2, 4]