# Group by

In [1]:
import pandas as pd

We will work on the `orders` dataframe.

In [2]:
orders = pd.read_csv("https://github.com/gdv/foundationsCS/raw/main/students/ex-data/Northwind/Orders.csv")

In [3]:
orders

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16813,27061,FOLKO,5,2013-06-29 21:05:55,2013-08-02 04:10:53,2013-07-02 16:05:51,3,307.25,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,South America,05442-030,Brazil
16814,27062,FRANK,2,2014-01-19 12:27:11,2014-01-24 15:15:31,2014-01-27 02:14:31,2,550.50,Bon app',"12, rue des Bouchers",Marseille,Western Europe,13008,France
16815,27063,ALFKI,5,2014-10-15 09:51:09,2014-11-11 14:31:37,2014-10-16 06:26:55,1,328.50,Furia Bacalhau e Frutos do Mar,Jardim das rosas n. 32,Lisboa,Southern Europe,1675,Portugal
16816,27064,TRADH,8,2013-02-07 02:06:05,2013-03-14 09:43:16,2013-02-24 10:15:47,3,357.00,Wilman Kala,Keskuskatu 45,Helsinki,Scandinavia,21240,Finland
16817,27065,ANATR,1,2013-08-31 02:59:28,2013-09-15 23:11:49,2013-09-03 14:09:08,3,233.75,LINO-Delicateses,Ave. 5 de Mayo Porlamar,I. de Margarita,South America,4980,Venezuela

## For each customer, compute the number of orders

In [4]:
orders.groupby('CustomerId').size()

CustomerId
ALFKI    200
ANATR    192
ANTO       7
ANTON    191
AROUT    162
        ...
WARTH    192
WELLI    185
WHITC    170
WILMK    180
WOLZA    187
Length: 95, dtype: int64

A more flexible, but a bit cumbersome, alternative is `count`

In [5]:
orders.groupby('CustomerId').count()

,Id,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
CustomerId,,,,,,,,,,,,,
ALFKI,200,200,200,200,200,200,200,200,200,200,200,198,200
ANATR,192,192,192,192,192,192,192,192,192,192,192,188,192
ANTO,7,7,7,7,7,7,7,7,7,7,7,7,7
ANTON,191,191,191,191,191,191,191,191,191,191,191,190,191
AROUT,162,162,162,162,162,162,162,162,162,162,162,161,162
...,...,...,...,...,...,...,...,...,...,...,...,...,...
WARTH,192,192,192,192,192,192,192,192,192,192,192,190,192
WELLI,185,185,185,185,185,185,185,185,185,185,185,183,185
WHITC,170,170,170,170,170,170,170,170,170,170,170,168,170
WILMK,180,180,180,180,180,180,180,180,180,180,180,178,180
WOLZA,187,187,187,187,187,187,187,187,187,187,187,183,187

Since `count` counts the number of non-missing rows for each column, it is better to choose a column.

In [6]:
orders.groupby('CustomerId').count()['Id']

CustomerId
ALFKI    200
ANATR    192
ANTO       7
ANTON    191
AROUT    162
        ...
WARTH    192
WELLI    185
WHITC    170
WILMK    180
WOLZA    187
Name: Id, Length: 95, dtype: int64

The result of a `groupby` moves the column in the `groupby` to the index. Notice the set of columns that are extracted.

In [7]:
orders.groupby('CustomerId', as_index = False).count()[['CustomerId','Id']]

   CustomerId   Id
0       ALFKI  200
1       ANATR  192
2        ANTO    7
3       ANTON  191
4       AROUT  162
..        ...  ...
90      WARTH  192
91      WELLI  185
92      WHITC  170
93      WILMK  180
94      WOLZA  187

[95 rows x 2 columns]

Can we use a `groupby` by itself?

In [8]:
orders.groupby('CustomerId')

# idxmax - idxmin

We need the `Products` table

In [9]:
products = pd.read_csv("ex-data/Northwind/Products.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'ex-data/Northwind/Products.csv'

In [ ]:
products.head()

Extract the maximum of the `UnitsInStock` column

In [ ]:
products['UnitsInStock'].max()

Find the product with maximum number of units in stock

In [ ]:
products['UnitsInStock'].idxmax()

In [ ]:
products.iloc[products['UnitsInStock'].idxmax()]

Let us investigate what happens if we also have an explicit index

In [ ]:
products.set_index('Id', inplace = True)
products.head()

In [ ]:
products['UnitsInStock'].idxmax()

In [ ]:
products.iloc[products['UnitsInStock'].idxmax()]

In [ ]:
products.loc[products['UnitsInStock'].idxmax()]

`idxmax` and `idxmin` return the **explicit** index, if possible.

#### What if there are several products achieving the minimum?

In [ ]:
products.iloc[products['UnitsInStock'].idxmin()]

In [ ]:
products[products['UnitsInStock'] == products['UnitsInStock'].min()]

### Maximum by group

For each category, find a product with minimum number of units in stock.

In [ ]:
products.groupby('CategoryId').idxmin()

Extract the relevant columns

In [ ]:
products.groupby('CategoryId')['UnitsInStock'].idxmin()

It is more complex to extract all products with minimum number of units in stock.

# Apply

Column- or table-wise operators are much more efficient.

What if we want to create a new column with the result of a complex expression?

Add a column `alert` that is equal to the sum of `UnitsOnOrder` and `UnitsInStock`, but is equal to 100 if that sum is larger than 100 and is equal to 0 if the product is discontinued.

First we build a function that computes the value of `alert` given a row of the dataframe.

In [ ]:
def alert(row):
    if row['Discontinued'] > 0:
        return 0
    return min(row['UnitsOnOrder'] + row['UnitsInStock'], 100)

Then we can `apply` the function to all rows of the dataframe.

In [ ]:
products['alert'] = products.apply(alert, axis = 1)
products

In [ ]:
products[products['Discontinued'] > 0]