# Group by

In [1]:
import pandas as pd

We will work on the `orders` dataframe.

In [2]:
orders = pd.read_csv("https://github.com/gdv/foundationsCS/raw/master/students/ex-data/Northwind/Orders.csv")

In [3]:
orders

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,16.75,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2012-07-05,2012-08-16,2012-07-10,1,22.25,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2012-07-08,2012-08-05,2012-07-12,2,25.00,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2012-07-08,2012-08-05,2012-07-15,1,20.25,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2012-07-09,2012-08-06,2012-07-11,2,36.25,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16813,27061,FOLKO,5,2013-06-29 21:05:55,2013-08-02 04:10:53,2013-07-02 16:05:51,3,307.25,Familia Arquibaldo,"Rua Orós, 92",Sao Paulo,South America,05442-030,Brazil
16814,27062,FRANK,2,2014-01-19 12:27:11,2014-01-24 15:15:31,2014-01-27 02:14:31,2,550.50,Bon app',"12, rue des Bouchers",Marseille,Western Europe,13008,France
16815,27063,ALFKI,5,2014-10-15 09:51:09,2014-11-11 14:31:37,2014-10-16 06:26:55,1,328.50,Furia Bacalhau e Frutos do Mar,Jardim das rosas n. 32,Lisboa,Southern Europe,1675,Portugal
16816,27064,TRADH,8,2013-02-07 02:06:05,2013-03-14 09:43:16,2013-02-24 10:15:47,3,357.00,Wilman Kala,Keskuskatu 45,Helsinki,Scandinavia,21240,Finland
16817,27065,ANATR,1,2013-08-31 02:59:28,2013-09-15 23:11:49,2013-09-03 14:09:08,3,233.75,LINO-Delicateses,Ave. 5 de Mayo Porlamar,I. de Margarita,South America,4980,Venezuela

## For each customer, compute the number of orders

In [4]:
orders.groupby('CustomerId').count()

,Id,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
CustomerId,,,,,,,,,,,,,
ALFKI,200,200,200,200,200,200,200,200,200,200,200,198,200
ANATR,192,192,192,192,192,192,192,192,192,192,192,188,192
ANTO,7,7,7,7,7,7,7,7,7,7,7,7,7
ANTON,191,191,191,191,191,191,191,191,191,191,191,190,191
AROUT,162,162,162,162,162,162,162,162,162,162,162,161,162
...,...,...,...,...,...,...,...,...,...,...,...,...,...
WARTH,192,192,192,192,192,192,192,192,192,192,192,190,192
WELLI,185,185,185,185,185,185,185,185,185,185,185,183,185
WHITC,170,170,170,170,170,170,170,170,170,170,170,168,170
WILMK,180,180,180,180,180,180,180,180,180,180,180,178,180
WOLZA,187,187,187,187,187,187,187,187,187,187,187,183,187

Since `count` counts the number of non-missing rows for each column, it is better to choose a column.

In [5]:
orders.groupby('CustomerId').count()['Id']

CustomerId
ALFKI    200
ANATR    192
ANTO       7
ANTON    191
AROUT    162
        ...
WARTH    192
WELLI    185
WHITC    170
WILMK    180
WOLZA    187
Name: Id, Length: 95, dtype: int64

The result of a `groupby` moves the column in the `groupby` to the index. Notice the set of columns that are extracted.

In [6]:
orders.groupby('CustomerId', as_index = False).count()[['CustomerId','Id']]

   CustomerId   Id
0       ALFKI  200
1       ANATR  192
2        ANTO    7
3       ANTON  191
4       AROUT  162
..        ...  ...
90      WARTH  192
91      WELLI  185
92      WHITC  170
93      WILMK  180
94      WOLZA  187

[95 rows x 2 columns]

Can we use a `groupby` by itself?

In [7]:
orders.groupby('CustomerId')

# idxmax - idxmin

We need the `Products` table

In [8]:
products = pd.read_csv("ex-data/Northwind/Products.csv")

In [9]:
products.head()

,Id,ProductName,SupplierId,CategoryId,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

Extract the maximum of the `UnitsInStock` column

In [10]:
products['UnitsInStock'].max()

125

Find the product with maximum number of units in stock

In [11]:
products['UnitsInStock'].idxmax()

74

In [12]:
products.iloc[products['UnitsInStock'].idxmax()]

Id                                   75
ProductName        Rhönbräu Klosterbier
SupplierId                           12
CategoryId                            1
QuantityPerUnit      24 - 0.5 l bottles
UnitPrice                          7.75
UnitsInStock                        125
UnitsOnOrder                          0
ReorderLevel                         25
Discontinued                          0
Name: 74, dtype: object

Let us investigate what happens if we also have an explicit index

In [13]:
products.set_index('Id', inplace = True)
products.head()

,ProductName,SupplierId,CategoryId,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
Id,,,,,,,,,
1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

In [14]:
products['UnitsInStock'].idxmax()

75

In [15]:
products.iloc[products['UnitsInStock'].idxmax()]

ProductName        Lakkalikööri
SupplierId                   23
CategoryId                    1
QuantityPerUnit          500 ml
UnitPrice                  18.0
UnitsInStock                 57
UnitsOnOrder                  0
ReorderLevel                 20
Discontinued                  0
Name: 76, dtype: object

In [16]:
products.loc[products['UnitsInStock'].idxmax()]

ProductName        Rhönbräu Klosterbier
SupplierId                           12
CategoryId                            1
QuantityPerUnit      24 - 0.5 l bottles
UnitPrice                          7.75
UnitsInStock                        125
UnitsOnOrder                          0
ReorderLevel                         25
Discontinued                          0
Name: 75, dtype: object

`idxmax` and `idxmin` return the **explicit** index, if possible.

#### What if there are several products achieving the minimum?

In [17]:
products.iloc[products['UnitsInStock'].idxmin()]

ProductName        Grandma's Boysenberry Spread
SupplierId                                    3
CategoryId                                    2
QuantityPerUnit                  12 - 8 oz jars
UnitPrice                                  25.0
UnitsInStock                                120
UnitsOnOrder                                  0
ReorderLevel                                 25
Discontinued                                  0
Name: 6, dtype: object

In [18]:
products[products['UnitsInStock'] == products['UnitsInStock'].min()]

,ProductName,SupplierId,CategoryId,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
Id,,,,,,,,,
5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1
17,Alice Mutton,7,6,20 - 1 kg tins,39.00,0,0,0,1
29,Thüringer Rostbratwurst,12,6,50 bags x 30 sausgs.,123.79,0,0,0,1
31,Gorgonzola Telino,14,4,12 - 100 g pkgs,12.50,0,70,20,0
53,Perth Pasties,24,6,48 pieces,32.80,0,0,0,1

### Maximum by group

For each category, find a product with minimum number of units in stock.

In [19]:
products.groupby('CategoryId').idxmin()

/tmp/ipykernel_2810482/967391316.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.idxmin is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  products.groupby('CategoryId').idxmin()

,SupplierId,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
CategoryId,,,,,,
1,1,24,70,1,24,1
2,3,3,5,4,4,3
3,16,19,21,16,20,16
4,11,33,31,12,12,11
5,22,52,56,22,42,22
6,9,54,17,9,9,54
7,7,74,74,7,14,7
8,10,13,45,10,10,10

Extract the relevant columns

In [24]:
products.groupby('CategoryId')['UnitsInStock'].idxmin()

CategoryId
1    70
2     5
3    21
4    31
5    56
6    17
7    74
8    45
Name: UnitsInStock, dtype: int64

It is more complex to extract all products with minimum number of units in stock.

# Apply

Column- or table-wise operators are much more efficient.

What if we want to create a new column with the result of a complex expression?

Add a column `alert` that is equal to the sum of `UnitsOnOrder` and `UnitsInStock`, but is equal to 100 if that sum is larger than 100 and is equal to 0 if the product is discontinued.

First we build a function that computes the value of `alert` given a row of the dataframe.

In [21]:
def alert(row):
    if row['Discontinued'] > 0:
        return 0
    return min(row['UnitsOnOrder'] + row['UnitsInStock'], 100)

Then we can `apply` the function to all rows of the dataframe.

In [22]:
products['alert'] = products.apply(alert, axis = 1)
products

,ProductName,SupplierId,CategoryId,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued,alert
Id,,,,,,,,,,
1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0,39
2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0,57
3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0,83
4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0,53
5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
73,Röd Kaviar,17,8,24 - 150 g jars,15.00,101,0,5,0,100
74,Longlife Tofu,4,7,5 kg pkg.,10.00,4,20,5,0,24
75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75,125,0,25,0,100
76,Lakkalikööri,23,1,500 ml,18.00,57,0,20,0,57
77,Original Frankfurter grüne Soße,12,2,12 boxes,13.00,32,0,15,0,32

In [23]:
products[products['Discontinued'] > 0]

,ProductName,SupplierId,CategoryId,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued,alert
Id,,,,,,,,,,
5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1,0
9,Mishi Kobe Niku,4,6,18 - 500 g pkgs.,97.00,29,0,0,1,0
17,Alice Mutton,7,6,20 - 1 kg tins,39.00,0,0,0,1,0
24,Guaraná Fantástica,10,1,12 - 355 ml cans,4.50,20,0,0,1,0
28,Rössle Sauerkraut,12,7,25 - 825 g cans,45.60,26,0,0,1,0
29,Thüringer Rostbratwurst,12,6,50 bags x 30 sausgs.,123.79,0,0,0,1,0
42,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14.00,26,0,0,1,0
53,Perth Pasties,24,6,48 pieces,32.80,0,0,0,1,0