In [22]:
import pandas as pd

For some of the datasets we need to use the `low_memory` option.

In [23]:
complete_data = pd.read_csv('https://github.com/gdv/foundationsCS/raw/master/students/ex-data/fifa18/CompleteDataset.csv', low_memory=False)
complete_data.head()

,Unnamed: 0,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,1,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,2,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,3,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,4,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
attribute_data = pd.read_csv('https://github.com/gdv/foundationsCS/raw/master/students/ex-data/fifa18/PlayerAttributeData.csv', low_memory=False)
attribute_data.head()

,Unnamed: 0,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,Dribbling,...,Reactions,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys
0,0,89,63,89,63,93,95,85,81,91,...,96,83,94,23,91,92,31,80,85,88
1,1,92,48,90,95,95,96,77,89,97,...,95,88,85,26,87,73,28,59,90,85
2,2,94,56,96,82,95,92,75,81,96,...,88,81,80,33,90,78,24,53,80,83
3,3,88,78,86,60,91,83,77,86,86,...,93,83,87,38,77,89,45,80,84,88
4,4,58,29,52,35,48,70,15,14,30,...,85,55,25,11,61,44,10,83,70,11

In [25]:
personal_data = pd.read_csv('https://github.com/gdv/foundationsCS/raw/master/students/ex-data/fifa18/PlayerPersonalData.csv')
personal_data.head()

,Unnamed: 0.1,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special
0,0,0,20801,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€95.5M,€565K,2228
1,1,1,158023,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€105M,€565K,2154
2,2,2,190871,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,€123M,€280K,2100
3,3,3,176580,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€97M,€510K,2291
4,4,4,167495,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€61M,€230K,1493

In [26]:
personal_data.tail()

,Unnamed: 0.1,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special
17976,17976,17976,237463,A. Kelsey,17,https://cdn.sofifa.org/48/18/players/237463.png,England,https://cdn.sofifa.org/flags/14.png,46,63,Scunthorpe United,https://cdn.sofifa.org/24/18/teams/1949.png,€50K,€1K,755
17977,17977,17977,11728,B. Richardson,47,https://cdn.sofifa.org/48/18/players/11728.png,England,https://cdn.sofifa.org/flags/14.png,46,46,Wycombe Wanderers,https://cdn.sofifa.org/24/18/teams/1933.png,€0,€1K,832
17978,17978,17978,231381,J. Young,17,https://cdn.sofifa.org/48/18/players/231381.png,Scotland,https://cdn.sofifa.org/flags/42.png,46,61,Swindon Town,https://cdn.sofifa.org/24/18/teams/1934.png,€60K,€1K,1194
17979,17979,17979,238813,J. Lundstram,18,https://cdn.sofifa.org/48/18/players/238813.png,England,https://cdn.sofifa.org/flags/14.png,46,64,Crewe Alexandra,https://cdn.sofifa.org/24/18/teams/121.png,€60K,€1K,1302
17980,17980,17980,238308,L. Sackey,18,https://cdn.sofifa.org/48/18/players/238308.png,Ghana,https://cdn.sofifa.org/flags/117.png,46,64,Scunthorpe United,https://cdn.sofifa.org/24/18/teams/1949.png,€50K,€1K,1031

In [27]:
position_data = pd.read_csv('https://github.com/gdv/foundationsCS/raw/master/students/ex-data/fifa18/PlayerPlayingPositionData.csv')
position_data.head()

,Unnamed: 0,CAM,CB,CDM,CF,CM,ID,LAM,LB,LCB,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,89.0,53.0,62.0,91.0,82.0,20801,89.0,61.0,53.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,1,92.0,45.0,59.0,92.0,84.0,158023,92.0,57.0,45.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,2,88.0,46.0,59.0,88.0,79.0,190871,88.0,59.0,46.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,3,87.0,58.0,65.0,88.0,80.0,176580,87.0,64.0,58.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,4,NaN,NaN,NaN,NaN,NaN,167495,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Replace Value and Wage with actual numbers

In [28]:
import re
human_to_int_re = re.compile('.(?P<amount>\d+\.{0,1}\d*)(?P<unit>\w{0,1})')

def unit_to_mult(unit):
    if unit == 'G':
        return 1000000000
    if unit == 'M':
        return 1000000
    if unit == 'K':
        return 1000
    return 1

def to_numeric(elem):
    m = human_to_int_re.search(elem)
    unit = m.group('unit')
    mult = unit_to_mult(unit)
    amount = float(m.group('amount'))
    return int(amount * mult)

In [29]:
personal_data['IntValue'] = personal_data['Value'].apply(to_numeric)
personal_data.head()

,Unnamed: 0.1,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special,IntValue
0,0,0,20801,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€95.5M,€565K,2228,95500000
1,1,1,158023,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€105M,€565K,2154,105000000
2,2,2,190871,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,€123M,€280K,2100,123000000
3,3,3,176580,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€97M,€510K,2291,97000000
4,4,4,167495,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€61M,€230K,1493,61000000

In [30]:
personal_data['IntWage'] = personal_data['Wage'].apply(to_numeric)
personal_data.head()

,Unnamed: 0.1,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special,IntValue,IntWage
0,0,0,20801,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€95.5M,€565K,2228,95500000,565000
1,1,1,158023,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€105M,€565K,2154,105000000,565000
2,2,2,190871,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,€123M,€280K,2100,123000000,280000
3,3,3,176580,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€97M,€510K,2291,97000000,510000
4,4,4,167495,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€61M,€230K,1493,61000000,230000

## Check if there are any missing values

In [31]:
personal_data.isnull().any()

Unnamed: 0.1    False
Unnamed: 0      False
ID              False
Name            False
Age             False
Photo           False
Nationality     False
Flag            False
Overall         False
Potential       False
Club             True
Club Logo       False
Value           False
Wage            False
Special         False
IntValue        False
IntWage         False
dtype: bool

In [32]:
attribute_data.isnull().any()

Unnamed: 0            False
Acceleration          False
Aggression            False
Agility               False
Balance               False
Ball control          False
Composure             False
Crossing              False
Curve                 False
Dribbling             False
Finishing             False
Free kick accuracy    False
GK diving             False
GK handling           False
GK kicking            False
GK positioning        False
GK reflexes           False
Heading accuracy      False
ID                    False
Interceptions         False
Jumping               False
Long passing          False
Long shots            False
Marking               False
Penalties             False
Positioning           False
Reactions             False
Short passing         False
Shot power            False
Sliding tackle        False
Sprint speed          False
Stamina               False
Standing tackle       False
Strength              False
Vision                False
Volleys               False
dtype: bool

In [33]:
complete_data.isnull().any()

Unnamed: 0     False
Name           False
Age            False
Photo          False
Nationality    False
               ...
RM              True
RS              True
RW              True
RWB             True
ST              True
Length: 75, dtype: bool

In [34]:
position_data.isnull().any()

Unnamed: 0             False
CAM                     True
CB                      True
CDM                     True
CF                      True
CM                      True
ID                     False
LAM                     True
LB                      True
LCB                     True
LCM                     True
LDM                     True
LF                      True
LM                      True
LS                      True
LW                      True
LWB                     True
Preferred Positions    False
RAM                     True
RB                      True
RCB                     True
RCM                     True
RDM                     True
RF                      True
RM                      True
RS                      True
RW                      True
RWB                     True
ST                      True
dtype: bool

## Which teams have the most players?

In [35]:
personal_data.groupby('Club')['Club'].count().idxmax()

'Villarreal CF'

## Which team pays the largest total wages?

In [36]:
personal_data.groupby('Club')['IntWage'].sum().idxmax()

'FC Barcelona'

In [37]:
personal_data.groupby('Club')['IntWage'].sum().sort_values(ascending=False).head()

Club
FC Barcelona         4792000
Real Madrid CF       4751000
Manchester United    3653000
Chelsea              3537000
FC Bayern Munich     3273000
Name: IntWage, dtype: int64

## Which team pays the largest average wage?

In [38]:
personal_data.groupby('Club')['IntWage'].mean().sort_values(ascending=False).head()

Club
FC Barcelona         191680.000000
Real Madrid CF       182730.769231
FC Bayern Munich     125884.615385
Juventus             121730.769231
Manchester United    107441.176471
Name: IntWage, dtype: float64

## How many players have exactly one preferred positions?

In [39]:
position_data['PP List'] = position_data['Preferred Positions'].apply(str.split)
print(len([x for x in position_data['PP List'] if len(x) == 1]))

9738

In [40]:
position_data[position_data['PP List'].apply(len) == 1]

,Unnamed: 0,CAM,CB,CDM,CF,CM,ID,LAM,LB,LCB,...,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST,PP List
1,1,92.0,45.0,59.0,92.0,84.0,158023,92.0,57.0,45.0,...,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0,[RW]
2,2,88.0,46.0,59.0,88.0,79.0,190871,88.0,59.0,46.0,...,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0,[LW]
3,3,87.0,58.0,65.0,88.0,80.0,176580,87.0,64.0,58.0,...,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0,[ST]
4,4,NaN,NaN,NaN,NaN,NaN,167495,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[GK]
5,5,84.0,57.0,62.0,87.0,78.0,188545,84.0,58.0,57.0,...,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0,[ST]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17975,17975,44.0,38.0,42.0,42.0,45.0,235352,44.0,37.0,38.0,...,38.0,45.0,42.0,42.0,42.0,41.0,41.0,38.0,41.0,[CM]
17976,17976,NaN,NaN,NaN,NaN,NaN,237463,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[GK]
17977,17977,NaN,NaN,NaN,NaN,NaN,11728,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[GK]
17978,17978,44.0,28.0,29.0,45.0,38.0,231381,44.0,31.0,28.0,...,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0,[ST]
17979,17979,45.0,46.0,47.0,43.0,45.0,238813,45.0,47.0,46.0,...,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0,[CM]

## How many players have at least three preferred positions?

In [41]:
len(position_data[position_data['PP List'].apply(len) >= 3])

2345