In [3]:
import pandas as pd

## Read all input files and put the data in a single dataframe with an additional field *year*. 

Notice that the column names are not the same in all input files.
The files are:
*  [2015.csv](https://github.com/gdv/foundationsCS/raw/master/students/ex-data/world-happiness-report/2015.csv)
*  [2016.csv](https://github.com/gdv/foundationsCS/raw/master/students/ex-data/world-happiness-report/2016.csv)
*  [2017.csv](https://github.com/gdv/foundationsCS/raw/master/students/ex-data/world-happiness-report/2017.csv)

In [4]:
h15 = pd.read_csv('https://github.com/gdv/foundationsCS/raw/master/students/ex-data/world-happiness-report/2015.csv')
h16 = pd.read_csv('https://github.com/gdv/foundationsCS/raw/master/students/ex-data/world-happiness-report/2016.csv')

In [5]:
h15.shape

(158, 12)

Hint: check if we have missing values and if the dataframes have the same structure

In [6]:
h15.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [7]:
h16.shape

(157, 13)

In [8]:
h16.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

The third dataset has a different structure. Since we want to *concat* the dataframes, we want similar data be in columns with the same names.
For this reason, we skip the first row and we hand-pick the column names.

In [9]:
h17 = pd.read_csv('https://github.com/gdv/foundationsCS/raw/master/students/ex-data/world-happiness-report/2017.csv', skiprows=1, 
                  names=["Country", "Happiness Rank", "Happiness Score", "Whisker high", "Whisker low",
                         "Economy (GDP per Capita)", "Family", "Health (Life Expectancy)",
                         "Freedom", "Generosity", "Trust (Government Corruption)", "Dystopia Residual"])
h17.head()

,Country,Happiness Rank,Happiness Score,Whisker high,Whisker low,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [10]:
h17.isnull().sum()

Country                          0
Happiness Rank                   0
Happiness Score                  0
Whisker high                     0
Whisker low                      0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Generosity                       0
Trust (Government Corruption)    0
Dystopia Residual                0
dtype: int64

In [11]:
h17.shape

(155, 12)

In [12]:
h15['year'] = 2015
h16['year'] = 2016
h17['year'] = 2017

Now check if the dataframes have the same columns

In [13]:
set(h15.columns) - set(h16.columns)

{'Standard Error'}

In [14]:
set(h16.columns) - set(h15.columns)

{'Lower Confidence Interval', 'Upper Confidence Interval'}

In [15]:
set(h15.columns) - set(h17.columns)

{'Region', 'Standard Error'}

In [16]:
set(h17.columns) - set(h15.columns)

{'Whisker high', 'Whisker low'}

Now we are ready to concat those dataframe, but we know that we will obtain missing values is those columns.

Another option is to drop all those columns.

In [17]:
df1 = pd.concat([h15, h16, h17])
df1

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year,Lower Confidence Interval,Upper Confidence Interval,Whisker high,Whisker low
0,Switzerland,Western Europe,1,7.587,0.03411,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780,2.517380,2015,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.302320,1.402230,0.947840,0.628770,0.141450,0.436300,2.702010,2015,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.325480,1.360580,0.874640,0.649380,0.483570,0.341390,2.492040,2015,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.459000,1.330950,0.885210,0.669730,0.365030,0.346990,2.465310,2015,NaN,NaN,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.326290,1.322610,0.905630,0.632970,0.329570,0.458110,2.451760,2015,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,NaN,151,3.471,NaN,0.368746,0.945707,0.326425,0.581844,0.455220,0.252756,0.540061,2017,NaN,NaN,3.543030,3.398970
151,Syria,NaN,152,3.462,NaN,0.777153,0.396103,0.500533,0.081539,0.151347,0.493664,1.061574,2017,NaN,NaN,3.663669,3.260331
152,Tanzania,NaN,153,3.349,NaN,0.511136,1.041990,0.364509,0.390018,0.066035,0.354256,0.621130,2017,NaN,NaN,3.461430,3.236570
153,Burundi,NaN,154,2.905,NaN,0.091623,0.629794,0.151611,0.059901,0.084148,0.204435,1.683024,2017,NaN,NaN,3.074690,2.735310
154,Central African Republic,NaN,155,2.693,NaN,0.000000,0.000000,0.018773,0.270842,0.056565,0.280876,2.066005,2017,NaN,NaN,2.864884,2.521116

In [18]:
df1.isnull().sum()

Country                            0
Region                           155
Happiness Rank                     0
Happiness Score                    0
Standard Error                   312
Economy (GDP per Capita)           0
Family                             0
Health (Life Expectancy)           0
Freedom                            0
Trust (Government Corruption)      0
Generosity                         0
Dystopia Residual                  0
year                               0
Lower Confidence Interval        313
Upper Confidence Interval        313
Whisker high                     315
Whisker low                      315
dtype: int64

In [19]:
df1[df1['Standard Error'].isnull()]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year,Lower Confidence Interval,Upper Confidence Interval,Whisker high,Whisker low
0,Denmark,Western Europe,1,7.526,NaN,1.441780,1.163740,0.795040,0.579410,0.444530,0.361710,2.739390,2016,7.460,7.592,NaN,NaN
1,Switzerland,Western Europe,2,7.509,NaN,1.527330,1.145240,0.863030,0.585570,0.412030,0.280830,2.694630,2016,7.428,7.590,NaN,NaN
2,Iceland,Western Europe,3,7.501,NaN,1.426660,1.183260,0.867330,0.566240,0.149750,0.476780,2.831370,2016,7.333,7.669,NaN,NaN
3,Norway,Western Europe,4,7.498,NaN,1.577440,1.126900,0.795790,0.596090,0.357760,0.378950,2.664650,2016,7.421,7.575,NaN,NaN
4,Finland,Western Europe,5,7.413,NaN,1.405980,1.134640,0.810910,0.571040,0.410040,0.254920,2.825960,2016,7.351,7.475,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,NaN,151,3.471,NaN,0.368746,0.945707,0.326425,0.581844,0.455220,0.252756,0.540061,2017,NaN,NaN,3.543030,3.398970
151,Syria,NaN,152,3.462,NaN,0.777153,0.396103,0.500533,0.081539,0.151347,0.493664,1.061574,2017,NaN,NaN,3.663669,3.260331
152,Tanzania,NaN,153,3.349,NaN,0.511136,1.041990,0.364509,0.390018,0.066035,0.354256,0.621130,2017,NaN,NaN,3.461430,3.236570
153,Burundi,NaN,154,2.905,NaN,0.091623,0.629794,0.151611,0.059901,0.084148,0.204435,1.683024,2017,NaN,NaN,3.074690,2.735310
154,Central African Republic,NaN,155,2.693,NaN,0.000000,0.000000,0.018773,0.270842,0.056565,0.280876,2.066005,2017,NaN,NaN,2.864884,2.521116

As an additional test, I check all entries on Italy. I expect to obtain three rows, one for each year.

In [20]:
df1[df1['Country'] == 'Italy']

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year,Lower Confidence Interval,Upper Confidence Interval,Whisker high,Whisker low
49,Italy,Western Europe,50,5.948,0.03914,1.251140,1.197770,0.954460,0.262360,0.029010,0.22823,2.025180,2015,NaN,NaN,NaN,NaN
49,Italy,Western Europe,50,5.977,NaN,1.354950,1.041670,0.851020,0.188270,0.025560,0.16684,2.349180,2016,5.898,6.056,NaN,NaN
47,Italy,NaN,48,5.964,NaN,1.395067,1.444923,0.853144,0.256451,0.028028,0.17279,1.813312,2017,NaN,NaN,6.042737,5.885264

## Check that each nation is always placed in the same region.

First we extract only the rows where the region is not null, then we group it by ['Country', 'Region'].

In [21]:
grouped = df1[df1['Region'].notnull()].groupby(['Country', 'Region']).size()
grouped.head()

Country      Region
Afghanistan  Southern Asia                      2
Albania      Central and Eastern Europe         2
Algeria      Middle East and Northern Africa    2
Angola       Sub-Saharan Africa                 2
Argentina    Latin America and Caribbean        2
dtype: int64

Then we group by `Country`: we expect each country to have only one row (due to the previous `groupby`)

In [22]:
count = grouped.groupby('Country').size()

We extract the rows corresponding to groups with at least 2 rows. We expect to have an empty list.

In [23]:
count[count > 1]

Series([], dtype: int64)

## For each nation, compute the variation in the ranking between 2015 and 2017. Put the result in a variable called *variation*.

We join the `h15` and `h17` dataframes on the *Country* column.
Beware that we need to use an outer join, for otherwise we would consider only contries that had a ranking in both years

In [24]:
joined = pd.merge(h15, h17, on='Country', 
                  suffixes = ['_2015', '_2017'])
joined['variation'] = joined['Happiness Rank_2015'] - joined['Happiness Rank_2017']

In [26]:
joined[['Country', 'Happiness Rank_2015', 'Happiness Rank_2017', 'variation']]

         Country  Happiness Rank_2015  Happiness Rank_2017  variation
0    Switzerland                    1                    4         -3
1        Iceland                    2                    3         -1
2        Denmark                    3                    2          1
3         Norway                    4                    1          3
4         Canada                    5                    7         -2
..           ...                  ...                  ...        ...
144       Rwanda                  154                  151          3
145        Benin                  155                  143         12
146        Syria                  156                  152          4
147      Burundi                  157                  154          3
148         Togo                  158                  150          8

[149 rows x 4 columns]

## Sort the nations according to *variation*

In [28]:
joined.sort_values('variation')[['Country', 'Happiness Rank_2015', 'Happiness Rank_2017', 'variation']]

       Country  Happiness Rank_2015  Happiness Rank_2017  variation
21   Venezuela                   23                   82        -59
91     Lesotho                   97                  139        -42
108    Liberia                  116                  148        -32
80      Zambia                   85                  116        -31
111      Haiti                  119                  145        -26
..         ...                  ...                  ...        ...
125   Bulgaria                  134                  105         29
81     Romania                   86                   57         29
96     Hungary                  104                   75         29
126      Egypt                  135                  104         31
84      Latvia                   89                   54         35

[149 rows x 4 columns]

## How many countries have improved their rankings?

In [29]:
len(joined[joined['variation'] > 0])

85

## Find the 15 countries that have improved their ranking the most.

In [31]:
joined.sort_values('variation', ascending = False)[['Country', 'variation']].head(15)

          Country  variation
84         Latvia         35
126         Egypt         31
81        Romania         29
125      Bulgaria         29
96        Hungary         29
132       Senegal         27
124      Cameroon         26
133         Gabon         25
141   Ivory Coast         23
113         Nepal         22
57       Malaysia         19
85    Philippines         18
142  Burkina Faso         18
115  Sierra Leone         17
135      Cambodia         16

## Among the European countries, which country has worsened its ranking the most?

Hint: `Europe` is not a region, hence we have to extract all countries in a region whose name includes `Europe`

In [32]:
europe = joined[joined['Region'].str.contains('Europe')]
europe

,Country,Region,Happiness Rank_2015,Happiness Score_2015,Standard Error,Economy (GDP per Capita)_2015,Family_2015,Health (Life Expectancy)_2015,Freedom_2015,Trust (Government Corruption)_2015,...,Whisker low,Economy (GDP per Capita)_2017,Family_2017,Health (Life Expectancy)_2017,Freedom_2017,Generosity_2017,Trust (Government Corruption)_2017,Dystopia Residual_2017,year_2017,variation
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017,-3
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017,-1
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017,1
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017,3
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,...,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017,1
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,...,7.326574,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662,2.294804,2017,1
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,...,7.223905,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399,2.097538,2017,-1
12,Austria,Western Europe,13,7.200,0.03751,1.33723,1.29704,0.89042,0.62433,0.18676,...,6.941330,1.487097,1.459945,0.815328,0.567766,0.316472,0.221060,2.138506,2017,0
16,Luxembourg,Western Europe,17,6.946,0.03499,1.56391,1.21963,0.91894,0.61583,0.37798,...,6.802314,1.741944,1.457584,0.845089,0.596628,0.283181,0.318834,1.619512,2017,-1
17,Ireland,Western Europe,18,6.940,0.03676,1.33596,1.36948,0.89533,0.61777,0.28703,...,6.910649,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388,1.773869,2017,3
18,Belgium,Western Europe,19,6.937,0.03595,1.30782,1.28566,0.89667,0.58450,0.22540,...,6.826179,1.463781,1.462313,0.818092,0.539771,0.231503,0.251343,2.124210,2017,2
20,United Kingdom,Western Europe,21,6.867,0.01866,1.26637,1.28548,0.90943,0.59625,0.32067,...,6.644209,1.441634,1.496460,0.805336,0.508190,0.492774,0.265428,1.704144,2017,2
24,Germany,Western Europe,26,6.750,0.01848,1.32792,1.29937,0.89186,0.61477,0.21843,...,6.896619,1.487923,1.472520,0.798951,0.562511,0.336269,0.276732,2.015770,2017,10
27,France,Western Europe,29,6.575,0.03512,1.27778,1.26038,0.94579,0.55011,0.20646,...,6.368232,1.430923,1.387777,0.844466,0.470222,0.129762,0.172502,2.005955,2017,-2
29,Czech Republic,Central and Eastern Europe,31,6.505,0.04168,1.17898,1.20643,0.84483,0.46364,0.02652,...,6.534138,1.352682,1.433885,0.754444,0.490946,0.088107,0.036873,2.451862,2017,8
34,Spain,Western Europe,36,6.329,0.03468,1.23011,1.31379,0.95562,0.45951,0.06398,...,6.334945,1.384398,1.532091,0.888961,0.408781,0.190134,0.070914,1.927758,2017,2
35,Malta,Western Europe,37,6.302,0.04206,1.20740,1.30203,0.88721,0.60365,0.13586,...,6.455603,1.343280,1.488412,0.821944,0.588767,0.574731,0.153066,1.556863,2017,10
40,Uzbekistan,Central and Eastern Europe,44,6.003,0.04361,0.63244,1.34043,0.59772,0.65821,0.30826,...,5.876463,0.786441,1.548969,0.498273,0.658249,0.415984,0.246528,1.816914,2017,-3
41,Slovakia,Central and Eastern Europe,45,5.995,0.04267,1.16891,1.26999,0.78902,0.31751,0.03431,...,6.018652,1.325394,1.505059,0.712733,0.295817,0.136544,0.024211,2.097777,2017,5
46,Italy,Western Europe,50,5.948,0.03914,1.25114,1.19777,0.95446,0.26236,0.02901,...,5.885264,1.395067,1.444923,0.853144,0.256451,0.172790,0.028028,1.813312,2017,2
48,Moldova,Central and Eastern Europe,52,5.889,0.03799,0.59448,1.01528,0.61826,0.32818,0.01615,...,5.767629,0.728871,1.251826,0.589465,0.240729,0.208779,0.010091,2.807808,2017,-4
50,Kazakhstan,Central and Eastern Europe,54,5.855,0.04114,1.12254,1.12241,0.64368,0.51649,0.08454,...,5.734358,1.284556,1.384369,0.606042,0.437454,0.201964,0.119283,1.784893,2017,-6
51,Slovenia,Central and Eastern Europe,55,5.848,0.04251,1.18498,1.27385,0.87337,0.60855,0.03787,...,5.673775,1.341206,1.452519,0.790828,0.572576,0.242649,0.045129,1.313317,2017,-7
52,Lithuania,Central and Eastern Europe,56,5.833,0.03843,1.14723,1.25745,0.73128,0.21342,0.01031,...,5.821330,1.314582,1.473516,0.628950,0.234232,0.010165,0.011866,2.228441,2017,4
55,Belarus,Central and Eastern Europe,59,5.813,0.03938,1.03192,1.23289,0.73608,0.37938,0.19090,...,5.491885,1.156558,1.444945,0.637714,0.295400,0.155138,0.156314,1.723233,2017,-8
56,Poland,Central and Eastern Europe,60,5.791,0.04263,1.12555,1.27948,0.77903,0.53122,0.04212,...,5.892092,1.291788,1.445712,0.699475,0.520342,0.158466,0.059308,1.797723,2017,14
58,Croatia,Central and Eastern Europe,62,5.759,0.04394,1.08254,0.79624,0.78805,0.25883,0.02430,...,5.194223,1.222556,0.967983,0.701289,0.255772,0.248003,0.043103,1.854492,2017,-15
60,Russia,Central and Eastern Europe,64,5.716,0.03135,1.13764,1.23617,0.66926,0.36679,0.03005,...,5.895725,1.281778,1.469282,0.547349,0.373783,0.052264,0.032963,2.205607,2017,15
62,North Cyprus,Western Europe,66,5.695,0.05635,1.20806,1.07008,0.92356,0.49027,0.14280,...,5.722633,1.346911,1.186303,0.834647,0.471204,0.266846,0.155353,1.549158,2017,5
63,Cyprus,Western Europe,67,5.689,0.05580,1.20813,0.89318,0.92356,0.40672,0.06146,...,5.527307,1.355938,1.131363,0.844715,0.355112,0.271254,0.041238,1.621249,2017,2
65,Kosovo,Central and Eastern Europe,69,5.589,0.05018,0.80148,0.81198,0.63132,0.24749,0.04741,...,5.193152,0.951484,1.137854,0.541452,0.260288,0.319931,0.057472,2.010541,2017,-9
66,Turkmenistan,Central and Eastern Europe,70,5.548,0.04175,0.95847,1.22668,0.53886,0.47610,0.30844,...,5.758819,1.130777,1.493149,0.437726,0.418272,0.249925,0.259270,1.832910,2017,11
68,Estonia,Central and Eastern Europe,73,5.429,0.04013,1.15174,1.22791,0.77361,0.44888,0.15184,...,5.533860,1.320879,1.476671,0.695168,0.479131,0.098891,0.183249,1.357509,2017,7
72,Kyrgyzstan,Central and Eastern Europe,77,5.286,0.03823,0.47428,1.15115,0.65088,0.43477,0.04232,...,4.918080,0.596220,1.394239,0.553458,0.454943,0.428580,0.039439,1.536723,2017,-21
75,Azerbaijan,Central and Eastern Europe,80,5.212,0.03363,1.02389,0.93793,0.64045,0.37030,0.16065,...,5.168714,1.153602,1.152400,0.540776,0.398156,0.045269,0.180988,1.762482,2017,-5
78,Montenegro,Central and Eastern Europe,82,5.192,0.05235,0.97438,0.90557,0.72521,0.18260,0.14296,...,5.132956,1.121129,1.238376,0.667465,0.194989,0.197911,0.088174,1.729192,2017,-1
81,Romania,Central and Eastern Europe,86,5.124,0.06607,1.04345,0.88588,0.76890,0.35068,0.00649,...,5.730305,1.217684,1.150091,0.685158,0.457004,0.133520,0.004388,2.176831,2017,29
82,Serbia,Central and Eastern Europe,87,5.123,0.04864,0.92053,1.00964,0.74836,0.20107,0.02617,...,5.298430,1.069318,1.258190,0.650785,0.208716,0.220126,0.040904,1.947084,2017,14
83,Portugal,Western Europe,88,5.102,0.04802,1.15991,1.13935,0.87519,0.51469,0.01078,...,5.104959,1.315175,1.367043,0.795844,0.498465,0.095103,0.015869,1.107683,2017,-1
84,Latvia,Central and Eastern Europe,89,5.098,0.04640,1.11312,1.09562,0.72437,0.29671,0.06332,...,5.779736,1.260749,1.404715,0.638567,0.325708,0.153075,0.073843,1.993655,2017,35
87,Macedonia,Central and Eastern Europe,93,5.007,0.05376,0.91851,1.00232,0.73545,0.33457,0.05327,...,5.077828,1.064578,1.207893,0.644948,0.325906,0.253761,0.060278,1.617469,2017,1
89,Albania,Central and Eastern Europe,95,4.959,0.05013,0.87867,0.80434,0.81325,0.35733,0.06413,...,4.535536,0.996193,0.803685,0.731160,0.381499,0.201313,0.039864,1.490442,2017,-14
90,Bosnia and Herzegovina,Central and Eastern Europe,96,4.949,0.06913,0.83223,0.91916,0.79081,0.09245,0.00227,...,5.087665,0.982409,1.069336,0.705186,0.204403,0.328867,0.000000,1.892173,2017,6
94,Greece,Western Europe,102,4.857,0.05062,1.15406,0.92933,0.88213,0.07699,0.01397,...,5.128754,1.289487,1.239415,0.810199,0.095731,0.000000,0.043290,1.749222,2017,15
96,Hungary,Central and Eastern Europe,104,4.800,0.06107,1.12094,1.20215,0.75905,0.32112,0.02758,...,5.244960,1.286012,1.343133,0.687763,0.175864,0.078402,0.036637,1.716459,2017,29
98,Tajikistan,Central and Eastern Europe,106,4.786,0.03198,0.39047,0.85563,0.57379,0.47216,0.15072,...,4.970574,0.524714,1.271463,0.529235,0.471567,0.248998,0.146377,1.849049,2017,10
103,Ukraine,Central and Eastern Europe,111,4.681,0.04412,0.79907,1.20278,0.67390,0.25123,0.02961,...,4.006590,0.894652,1.394538,0.575904,0.122975,0.270061,0.023029,0.814382,2017,-21
118,Armenia,Central and Eastern Europe,127,4.350,0.04763,0.76821,0.77711,0.72990,0.19847,0.03900,...,4.285265,0.900597,1.007484,0.637524,0.198303,0.083488,0.026674,1.521499,2017,6
121,Georgia,Central and Eastern Europe,130,4.297,0.04221,0.74190,0.38562,0.72926,0.40577,0.38331,...,4.197066,0.950613,0.570615,0.649547,0.309410,0.054009,0.251667,1.500138,2017,5
125,Bulgaria,Central and Eastern Europe,134,4.218,0.04828,1.01216,1.10614,0.76649,0.30587,0.00872,...,4.624306,1.161459,1.434379,0.708218,0.289232,0.113178,0.011052,0.996139,2017,29

Since we are looking only for one row of the `europe` dataset, we can use `idxmax`.

In [37]:
europe.loc[europe['variation'].idxmax()]

Country                                                   Latvia
Region                                Central and Eastern Europe
Happiness Rank_2015                                           89
Happiness Score_2015                                       5.098
Standard Error                                            0.0464
Economy (GDP per Capita)_2015                            1.11312
Family_2015                                              1.09562
Health (Life Expectancy)_2015                            0.72437
Freedom_2015                                             0.29671
Trust (Government Corruption)_2015                       0.06332
Generosity_2015                                          0.18226
Dystopia Residual_2015                                   1.62215
year_2015                                                   2015
Happiness Rank_2017                                           54
Happiness Score_2017                                        5.85
Whisker high                                             5.92026
Whisker low                                              5.77974
Economy (GDP per Capita)_2017                            1.26075
Family_2017                                              1.40471
Health (Life Expectancy)_2017                           0.638567
Freedom_2017                                            0.325708
Generosity_2017                                         0.153075
Trust (Government Corruption)_2017                     0.0738427
Dystopia Residual_2017                                   1.99366
year_2017                                                   2017
variation                                                     35
Name: 84, dtype: object

If we are interested only in the name of the country, we can make the country name the explicit index, then `idxmax` returns the name of the country.

In [39]:
europe.set_index('Country', inplace = True)

In [40]:
europe['variation'].idxmax()

'Latvia'

In both cases, it is better to check if there are other countries attaining the maximum.

In [41]:
europe[europe['variation'] >= europe['variation'].max()]

,Region,Happiness Rank_2015,Happiness Score_2015,Standard Error,Economy (GDP per Capita)_2015,Family_2015,Health (Life Expectancy)_2015,Freedom_2015,Trust (Government Corruption)_2015,Generosity_2015,...,Whisker low,Economy (GDP per Capita)_2017,Family_2017,Health (Life Expectancy)_2017,Freedom_2017,Generosity_2017,Trust (Government Corruption)_2017,Dystopia Residual_2017,year_2017,variation
Country,,,,,,,,,,,,,,,,,,,,,
Latvia,Central and Eastern Europe,89,5.098,0.0464,1.11312,1.09562,0.72437,0.29671,0.06332,0.18226,...,5.779736,1.260749,1.404715,0.638567,0.325708,0.153075,0.073843,1.993655,2017,35

## Sort the nations according to their *Health*.

In [42]:
sorted = h15.sort_values('Health (Life Expectancy)', ascending=False)
sorted[['Country', 'Health (Life Expectancy)']]

                      Country  Health (Life Expectancy)
23                  Singapore                   1.02525
71                  Hong Kong                   1.01328
45                      Japan                   0.99111
46                South Korea                   0.96538
35                      Spain                   0.95562
..                        ...                       ...
96                    Lesotho                   0.07612
100                 Swaziland                   0.07566
147  Central African Republic                   0.06699
127                  Botswana                   0.04776
122              Sierra Leone                   0.00000

[158 rows x 2 columns]

## Add a new variable *Health_Rank* which is the ranking according to *Health*

We can add a new column that is the result of `range`

In [43]:
sorted['Health_Rank'] = range(1, len(sorted) + 1)
sorted

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year,Health_Rank
23,Singapore,Southeastern Asia,24,6.798,0.03780,1.52186,1.02000,1.02525,0.54252,0.49210,0.31105,1.88501,2015,1
71,Hong Kong,Eastern Asia,72,5.474,0.05051,1.38604,1.05818,1.01328,0.59608,0.37124,0.39478,0.65429,2015,2
45,Japan,Eastern Asia,46,5.987,0.03581,1.27074,1.25712,0.99111,0.49615,0.18060,0.10705,1.68435,2015,3
46,South Korea,Eastern Asia,47,5.984,0.04098,1.24461,0.95774,0.96538,0.33208,0.07857,0.18557,2.21978,2015,4
35,Spain,Western Europe,36,6.329,0.03468,1.23011,1.31379,0.95562,0.45951,0.06398,0.18227,2.12367,2015,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Lesotho,Sub-Saharan Africa,97,4.898,0.09438,0.37545,1.04103,0.07612,0.31767,0.12504,0.16388,2.79832,2015,154
100,Swaziland,Sub-Saharan Africa,101,4.867,0.08742,0.71206,1.07284,0.07566,0.30658,0.03060,0.18259,2.48676,2015,155
147,Central African Republic,Sub-Saharan Africa,148,3.678,0.06112,0.07850,0.00000,0.06699,0.48879,0.08289,0.23835,2.72230,2015,156
127,Botswana,Sub-Saharan Africa,128,4.332,0.04934,0.99355,1.10464,0.04776,0.49495,0.12474,0.10461,1.46181,2015,157
122,Sierra Leone,Sub-Saharan Africa,123,4.507,0.07068,0.33024,0.95571,0.00000,0.40840,0.08786,0.21488,2.51009,2015,158

## For each region, count the number of countries such that *Happiness Rank* is not larger than the *Health Rank*

In [44]:
countries = sorted[sorted['Happiness Rank'] <= sorted['Health_Rank']]
countries[['Country', 'Happiness Rank', 'Health_Rank']]

                      Country  Happiness Rank  Health_Rank
1                     Iceland               2            7
0                 Switzerland               1            9
9                   Australia              10           10
10                     Israel              11           14
7                      Sweden               8           15
..                        ...             ...          ...
96                    Lesotho              97          154
100                 Swaziland             101          155
147  Central African Republic             148          156
127                  Botswana             128          157
122              Sierra Leone             123          158

[87 rows x 3 columns]

In [45]:
countries.groupby('Region').size()

Region
Australia and New Zealand           2
Central and Eastern Europe         13
Eastern Asia                        1
Latin America and Caribbean        19
Middle East and Northern Africa    10
North America                       2
Southeastern Asia                   5
Southern Asia                       2
Sub-Saharan Africa                 23
Western Europe                     10
dtype: int64